<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title id="page-title">Book form</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>

<body>
<div th:replace="~{fragments/nav :: nav}"></div>
<h1 id="page-heading"></h1>
<p class="error" id="error-message"></p>
<form id="book-form">
    <div>
        <label th:text="#{books.form.label.title}">Title:</label>
        <input type="text" id="title"/>
        <span class="error" id="title-error"></span>
    </div>
    <div>
        <label th:text="#{books.form.label.author}">Author:</label>
        <select id="author-id">
            <option value="" disabled selected th:text="#{books.form.select.author}">-- select author --</option>
        </select>
        <span class="error" id="author-error"></span>
    </div>
    <div>
        <p th:text="#{books.form.label.genres}">Genres:</p>
        <div id="genres-container"></div>
        <span class="error" id="genres-error"></span>
    </div>
    <button type="submit" class="btn" th:text="#{books.form.save}">Save</button>
    <a class="btn" href="/books" th:text="#{books.form.cancel}">Cancel</a>
</form>

<script th:inline="javascript">
    window.i18n = {
        titleNew: /*[[#{books.form.title.new}]]*/ 'New book',
        titleEdit: /*[[#{books.form.title.edit}]]*/ 'Edit book',
        loadError: /*[[#{common.loadError}]]*/ 'Failed to load data'
    };
</script>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/books-form.js}"></script>
</body>

</html>
